* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #009099;
}

a:hover {
    text-decoration: underline;
}

aside > p {
    font-size: 1.266666rem;
    font-weight: normal;
    line-height: 1.26;
    margin-bottom: 6.25px;
}

aside > ul {
    font-size: 14.62px;
    padding: 0;
}

ul {
    list-style: none;
}

aside > ul > li {
    display: inline-block;
    height: 2.3529411765rem;
    width: 2.3529411765rem;
    background: #009099;
    list-style-position: outside;
    list-style-type: none;
}

.aside-share-link {
    background-color: #009099;
    display: inline-block;
    height: 2.3529411765rem;
    width: 2.3529411765rem;
}

.aside-share-link > svg {
    fill: #fff;
    display: block;
    height: 100%;
    padding: 10px;
    width: 100%;
}

body {
    color: #554f4a;
    font-size: 1rem;
    font-family: HelveticaNeueLT,Open Sans,Arial,Helvetica,sans-serif;
    line-height: 1.5882352941;
    margin: 0;
}

form {
    padding: 4em;
    background: #ebf6f7;
}

form > div > div {
    margin-bottom: 2.3529411765rem;
}

h1 {
    font-size: 2.588rem;
    color: #009099;
    font-weight: normal;
}

header {
    margin: 0 auto;
    min-height: 3.5294117647rem;
}


aside {
    grid-area: aside;
}

footer > nav, header, main {
    max-width: 70.5882352941rem;
    margin: 0 auto;
}

main {
    margin-bottom: 5em;
    padding: 2em;
}

.jrk-logo {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
}

.jrk-logo > img {
    height: 5.8823529412rem;
    margin-top: 1.1764705882rem;
    margin-left: 1.1764705882rem;
    width: auto;
}

select, input {
    background: #fff;
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 1px solid #009099;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    line-height: 100%;
    margin: 0;
    min-height: 2.25rem;
    outline: none;
    padding: 0 1em;
    position: relative;
    width: 100%;
}

select  {
    padding: .375rem .75rem;
}

option {
    font-size: inherit;
    line-height: inherit;
}

button[type=submit] {
    background: #009099;
    cursor: pointer;
    color: #fff;
    border-color: #009099;
    line-height: 2.3529411765rem;
    padding: 0 1.4705882353rem;
    text-align: center;
    border: 1px solid #009099;
}


footer {
    background: #009099;
    color: #fff;
    font-size: 14.62px;
    text-align: center;
    padding: 4em;
}

footer a {
    color: inherit;
}

footer li:first-child {
    font-weight: bold;
    margin-bottom: 0.7352941176rem;
}

footer .footer-social-media-list > li:not(:first-child) {
    display: inline-block;
    height: 1.4705882353rem;
    margin-right: 0.5rem;
    width: 1.4705882353rem;
}

footer .footer-social-media-list > li:not(:first-child) > a > svg {
    height: 1.47059rem;
    fill: #ffffff;
    width: 1.47059rem;
}

@media (min-width: 768px) {
    .content-wrapper {
        display: flex;
    }

    article {
        margin: 0 auto;
        width: 66%;
    }

    footer > nav {
        display: flex;
        text-align: left;
    }
}

