{% extends 'base.html.twig' %}

{% block title %}Schreib mit!{% endblock %}

{% block main %}
    {{ form(userForm) }}

    <p>Anhand deiner Angaben können wir dir die Adresse einer Pflegeeinrichtung in deiner Nähe zusenden, an die du
        deinen Brief schreiben kannst. Mit der Angabe deines Alters ermöglichst du uns zu sehen, welche
        JRK-Altersstufen sich an der Aktion beteiligen. Mit deinen Daten gehen wir entsprechend der gesetzlichen
        Vorgaben um. Genaue Infos findest du <a href="https://jrksachsen.de/informationen/datenschutz/">hier</a>.</p>
{% endblock %}
